<div class="container">
  <div class="d-flex justify-content-center mt-3">
    <div class='align-self-center'>
      <h1>Burger</h1>
    </div>
    <div>
      <img src="/assets/img/burger.png" height="auto" width="200px" alt="">
    </div>
    <div class='align-self-center'>
      <h1>Eater!</h1>
    </div>
  </div>
  <div class="jumbotron d-flex justify-content-around">
    <div>
      {{!-- Loops through the burger table and only displays the 
      uneaten ones. Also adds a button to eat them --}}
      <h2 class="text-center mb-4">Burgers To Eat</h2>
      <ul class="list-group">
        {{#each burgers}}
        {{#unless devoured}}
        <li class="list-group-item d-flex justify-content-between">
          <div class="align-self-center">{{burger_name}}</div>
          <button type="button" class="btn btn-warning eat ml-3" data-id="{{id}}">
            EAT ME!
          </button>
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div>
      {{!-- Displays eaten burgers from the burgers table --}}
      <h2 class="text-center mb-4">Burgers Devoured</h2>
      <ul class="list-group">
        {{#each burgers}}
        {{#if devoured}}
        <li class="list-group-item text-center">
          {{burger_name}}
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>

{{!-- Form for creating a new burger to be eaten --}}
<div class="container mb-5">
  <div class="text-center">
    <h2>Create A Burger</h2>
    <form class="create">

      <div class="form-group">
        <label for="newBurger">Burger Name:</label>
        <input type="text" id="newBurger" name="name">
      </div>

      <button type="submit" class="btn btn-primary">Add Burger</button>
    </form>
  </div>
</div>